:root{
  --p:14px;
  --c1:yellow;
  --c2:black;
  --dotsize:2px;
}
*{box-sizing: border-box;}
body {
  background-color: #333;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
  font:20px/1.2em sans-serif ;
}
header{
  display: flex;
  width: 100%;
}
textarea {
  width: 100%;
  height: 4em;
  background: #999;
  border: none;
}
.line{
  position: absolute;
  height:1px;
  background:white;
  position: absolute;
  transform-origin: 0;
  z-index: 10;
  margin-top: calc(var(--dotsize) / -2);
  margin-left: calc(var(--dotsize) / 2);
}
.line.up{
  background: #00000044;
}
main {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ffffff88; */
  width: 800px;
  height: 800px;
  position: relative;
}

.dot {
  width: var(--dotsize);
  height: var(--dotsize);
  background-color: gray;
  border-radius: var(--dotsize);
  position: absolute;
}
.point{
  width:  calc(var(--dotsize)*2);
  height: calc(var(--dotsize)*2);
  background-color: gray;
  border-radius: 100%;
  position: absolute;
}

.dot.origin{
  background:white;
}

#detector{
  position: absolute;
  width: 20%;
  text-align: center;
  top: 0;
  right: 0;
  background:gray;
}

button, .button{
  background:var(--c1);
  color: var(--c2);
  padding:10px;
  border:0;
  font-size: .7em;
  line-height: 1em;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.start{
  margin:10px 0;
}

button:hover, .button:hover{filter:brightness(.8);}
button:active, .button:active{filter: saturate(.5);}
a:hover{filter: saturate(1.2);}
a{color:var(--c1);}
::selection{background-color: var(--c1); color: var(--c2);}